.app {
  width: 100%;
  display: flex;
  flex-flow: column;
}

.main {
  width: 100%;
  position: relative;
}

.lang-menu-wrapper {
  position: absolute;
  width: 100%;
  justify-content: flex-end;
}

.lang-menu {
  list-style: none;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.lang-menu-element {
  width: 40px;
  height: 40px;
  padding-top: 7px;
}

.lang-logo {
  width : 30px;
  height: 30px;
  cursor: pointer;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
