.app {
  width: 100%;
  display: flex;
  flex-flow: column;
}

.main {
  width: 100%;
  position: relative;
}

.footer {
  width: 100%;
  position: relative;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
