* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img.kraken {
  width: 100px;
  height: 90px;
  border-radius: 40px;
}

.kraken-wrapper {
  z-index: 2;
  transition: all 0.7s ease;
}

body {
  background-color: #4ba;
  perspective: 1000px;
}

.wrapper {
  width: 100%;
}

.section {
  margin: auto;
  margin-top: 10%;
  padding-top: 30px;
  width: 500px;
  min-height: 350px;
  text-align: center;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  box-shadow: 0px 0px 20px rgba(0,0,0,0.5), 0px 0px 50px rgba(0,0,0,0.2);
  border-radius: 20px;
  min-height: 350px;
  width: 300px;
}

.kraken-circle-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.circle {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
  background-color: #fab;
  z-index: 1;
  margin: auto;
  padding:auto;
  transition: all 0.7s ease;
}

.text-wrapper {
  text-align: center;
  padding-top: 70px;
}

.text-wrapper h1 {
  font-family: fantasy;
  color: gold;
}
