.control-page-footer {
  width: 100%;
  box-sizing: border-box;
  background: rgb(63,44,68);
  background: linear-gradient(90deg, rgb(11, 95, 3) 0%, rgb(180,180,180) 50%,  rgb(11, 95, 3) 100%);
  /* background: white; */
  background-size: auto;
}
