:root {
  --snake-scroll-width : 0%;
  --mobile-height : 100%;
}

@font-face {
   font-family: 'Cabin-Regular';
   src: url(../../WidgetsAndElements/Fonts/Cabin-Regular.ttf) format('truetype');
}

.menu-list {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  color: white;
  justify-content: center;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(41, 41, 43) 50%,  rgb(0, 0, 0) 100%);
}

.menu {

  width: 100%;
  border-bottom: 3px solid darkgreen ;
}


.menu-control {
  background: rgba(17,18,19,1);
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  background-size: cover;
  width: 100%;
  height: 65px;
  box-shadow: 20px 10px 3px black;
  box-shadow: 0px 0px 20px black;
  box-shadow: 0px 0px 27px rgba(0,0,0,0.8);
  box-shadow: 0px 0px 35px rgba(0,0,0,0.8);
  box-shadow: 0px 0px 40px rgba(0,0,0,0.7);
  z-index: 1000000;
}

.menu-scroll-control {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  border-bottom: 5px solid darkgreen ;
  box-shadow: 0px 0px 50px black;
}

.snake-scroller {
  width: var(--snake-scroll-width);
  height: 5px;
  background: green;
  border-radius: 20px;
}


.menu-element {
  color: white;
  text-shadow: 0px 0px 2px gray;
  cursor: pointer;
  font-family: Cabin-Regular;
}

.menu-element:hover {
  text-decoration: underline;
}

.burger-wrapper {
  width: 100%;
  justify-content: right;
}

.burger {
  display: flex;
  transition: all 2s ease;
  width: 60px;
  height: 60px;
  box-shadow: 0px 0px 0px black;
}

@media (max-width: 2570px) {
  .menu-element {
    padding: 2px 20px;
    font-size: 40px;
  }
}

@media (max-width: 1610px) {
  .menu-element {
    padding: 18px 10px;
    font-size: 27px;
  }
}

@media (max-width: 1100px) {
  .menu-element {
    padding: 12px 11px;
    font-size: 18px;
  }
}

@media (max-width: 770px) {

  .snake-scroller {
    display: none;
  }

  .menu-control {
    height: 60px;
  }

  .menu {
    position: absolute;
    z-index: 3;
    overflow: hidden;
  }

   .menu-control {
     position: fixed;
     top: 0;
     padding-left: 0;
     z-index: 4;
   }

   .burger {
     z-index: 10;
     position: fixed;
     margin-left: 92%;
   }

   .menu-list {
     flex-flow: column nowrap;
     background-color: rgba(50,50,50,1);
     position: fixed;
     top: 0;
     right: 0;
     height: var(--mobile-height);
     width: 100%;
     text-align: center;
     padding-top: 0.5rem;
     transition: transform 0.5s ease-in-out;
     overflow: hidden;
     z-index: 5;

   }
   .menu-element {
     color: #fff;
     font-size: 14px;
     padding: 8px 10px
   }
 }

 @media (max-width: 500px) {
   .menu {
     margin-top: 60px;
   }
   .burger {
     width: 16%;
     margin-left: 82%;
   }
   .menu-element {
     padding: 5px 4px;
   }
 }
