@font-face{
    font-family:akbaal;
    src: url(../../fonts/akbaal.ttf);
}

.block_pres {
    margin:2% 14%;
    border-radius: 10px;
    background-color: rgb(158, 199, 135); 
    display: flex;
    box-shadow: 5px 5px 4px black;
    border: 2px solid black;
}

.title_text_pres {
    display: flex;
    flex-direction:column;
    width: 70%;
}
.title_pres{
    margin:2%;
    font-size: 2em;
    font-weight: bold;
    font-family: akbaal;
    text-align: center;
    border-radius: 10px;
}
.text_pres {
    font-size:0.8em;
    margin:2%;
    margin-left: 5%;
    padding: 0.5%;
    text-align: justify;
    font-weight: lighter;
    color:black;
    border-radius: 10px;
    /* border: 2px solid red; */
}

.img_pres {
    width: 36%;
    height: 36%;
    border-radius: 10px;
    align-self:center;
}

.block_VP {
    margin:5% 14%;
    border-radius: 10px;
    background-color: rgb(189, 216, 177);
    box-shadow: 5px 5px 4px black;
    border: 2px solid black;
}
.title_vp {
    color: black;
    margin-top: 2%;
    font-family: akbaal;
    width:100%;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    /* border: 5px solid green; */
}

.motdupole {
    color: black;
    margin-top: 4%;
    font-family: akbaal;
    width:100%;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    /* border: 5px solid green; */
}

.text_VP{
    padding: 0.5%;
    font-size: 1.1em;
    padding-bottom: 2%;
    color:black;
    border-radius: 10px;
}

.block{    
    background-color: rgb(158, 199, 135); 
}

@media screen and (min-width: 800px){
    .block{
       border-radius: 10px;
       border: 2px solid black;   
       height:100%;       
       box-shadow: 5px 5px 4px black;
    }


    .imgtext {
       margin: 2%;
       display: flex;
       flex-direction: column;
       align-items: center;
       /* background: black; */
       flex-wrap:wrap;
       /* border: 5px solid purple; */
    }   
}
.element_grille_25 {
    width:22%;
}

.element_grille_33 {
    width:30%;
}
.element_grille_40 {
    width:38%;
}
.element_grille_50{
    width:48%
}

.element_grille_60 {
    width:58%;
}
.element_grille_75 {
    width:74%;
}

.photos {
    align-items: center;
    display: flex;
}

.one_img_pole {
    width: 100%;    
    max-width:140px;
    justify-content: center;
    border-radius: 10px;
    /* border: 2px solid black; */
}
.two_img_pole {
    width: 50%;    
    max-width:140px;
    justify-content: center;
    /* border-radius: 10px; */
    /* border: 2px solid black; */
}
.three_img_pole {
    width: 33.3333%;    
    max-width:140px;
    justify-content: center;
    /* border-radius: 10px; */
    /* border: 2px solid black; */
}
.textname {
    font-size: 1.3em;
    padding: 1%;
    width: 100%;
    color: black;
    text-align: center;
    /* background: white; */
    border-radius: 10px;
    /* border: 2px solid red; */
}
.text {
    font-size: 0.8em;
    padding: 1%;
    width: 100%;
    color: black;
    /* background-color: black; */
    /* font-family: Calibri; */
    font-weight: lighter;
    text-align: justify;
    /* background: white; */
    border-radius: 10px;
    /* border: 2px solid red; */
}




@media screen and (min-width: 1200px){
    .title_text_pres {
        width: 76%;
    }
    .img_pres {
        width: 24%;
        height: 24%;
    }
}


@media screen and (max-width: 800px){
    .block_pres {
        margin:5% 14%;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .title_text_pres {
        width: 100%;
        justify-content: center;
        align-self: center;
    }

    .img_pres{
        max-width: 200px;
        width: 100%;
        justify-content: center;
        align-self: center;
    }

    .block{
        border-radius: 10px;        
        border: 0.5px solid black;
        background-color: rgb(158, 199, 135);  
        margin:2% 0%;
        width:100%;
        justify-content: center;
    }

    .imgtext {
        margin: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap:wrap;
        /* border: 5px solid purple; */
    }

    .one_img_pole {
        width: 100%;
        max-width:200px;
        justify-content: center;
        /* border-radius: 10px; */
        /* border: 10px solid black; */
    }
    .element_grille_25 {
        width:100%;
     }
    .element_grille_33 {
        width:100%;
     }

    .element_grille_40 {
        width:100%;
    }

    .element_grille_50{
        width:100%
    }
    
    .element_grille_60 {
        width:100%;
    }
    .element_grille_75 {
        width:100%;
     }
}
