 @font-face {
    font-family: 'MetalMacabre';
    src: url(../Fonts/metal-macabre/MetalMacabre.ttf) format('truetype');
}
/*
.text-header1 {
    font-family: MetalMacabre;
    color: green;
}

@media(max-width: 2580px) {
  .text-header1 {
    font-size: 90px;
    text-shadow: 0px 0px 45px black;
  }
}

@media(max-width: 1480px) {
  .text-header1 {
    font-size: 50px;
    text-shadow: 0px 0px 25px black;
  }
}

@media(max-width: 1200px) {
  .text-header1 {
    font-size: 45px;
    text-shadow: 0px 0px 22px black;
  }
}

@media(max-width: 836px) {
  .text-header1 {
    font-size: 36px;
    text-shadow: 0px 0px 18px black;
  }
}

@media(max-width: 450px) {
  .text-header1 {
    font-size: 25px;
    text-shadow: 0px 0px 15px black;
  }
}

@media(max-width: 320px) {
  .text-header1 {
    font-size: 20px;
    text-shadow: 0px 0px 10px black;
  }
}
*/

:root {
  --color-background: #31037d;
  --axis-x: 3px;
  --axis-y: 1rem;
  --delay: 10;
  --color-black: #000;
  --color-white: #fff;
  --color-green: green;
  --color-paleyellow: gold;
  --color-foreground: var(--color-white);
  --font-name: MetalMacabre;
  --pixels-per-degree: 3px;
  --pixels-x-y: 0.24;
  --rotate-snake: 30deg;
  --anti-rotate-snake: -30deg;
}


.snake {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  padding-left: 60px;
  overflow: hidden;
}

.c-snake {
  counter-reset: snake-move;
  position: relative;
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}
.c-snake_layer {
  --text-color: var(--color-foreground);
  counter-increment: snake-move;
  font-size: 3rem;
  color: var(--text-color);
  text-shadow: -1px -1px 0 var(--color-black), 1px -1px 0 var(--color-black), -1px 1px 0 var(--color-black), 1px 1px 0 var(--color-black), 4px 4px 0 rgba(0, 0, 0, 0.2);
  animation: snake-move 5s ease-in-out 2;
}
.c-snake_layer:nth-child(1) {
  animation-delay: calc(1 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 1);
  z-index: -10;
  font-family: var(--font-name);
}
.c-snake_layer:nth-child(2) {
  animation-delay: calc(2 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 2);
  z-index: -15;
  font-family: var(--font-name);
}
.c-snake_layer:nth-child(3) {
  animation-delay: calc(3 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 3);
  z-index: -20;
  font-family: var(--font-name);
}
.c-snake_layer:nth-child(4) {
  animation-delay: calc(4 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 4);
  z-index: -25;
  font-family: var(--font-name);
}
.c-snake_layer:not(:first-child) {
  position: absolute;
  top: 0;
}
.c-rainbow__layer--white {
  --text-color: var(--color-white);
}
.c-rainbow__layer--black {
  --text-color: var(--color-black);
}
.c-rainbow__layer--green {
  --text-color: var(--color-green);
}
.c-rainbow__layer--paleyellow {
  --text-color: var(--color-paleyellow);
}

@keyframes snake-move {
  0%,
  100% {
    transform: translateY(var(--axis-y));
  }
  50% {
    transform: translateY(calc(var(--axis-y) * -1));
  }
}
