.purpose-img {
  max-width: 220px;
  height:auto;
  margin: auto;
  padding-left: 10px
}

.center-sup-wrapper {
  width: 100%;
  justify-content: center;
}

.purpose-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  flex-flow: row;
  padding-top: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

h1.purpose-name {
  color: black;
}

.purpose-text-wrapper {
  display: flex;
  flex-flow: column;
  text-align: center;
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
}

@media(max-width: 500px) {
  .purpose-wrapper {
    flex-flow: column;
  }
}
