.purpose-img {
  width: 220px;
  height:auto;
  margin: auto;
  padding-bottom: 25px;
}

.center-sup-wrapper {
  width: 100%;
  justify-content: center;
}

.purpose-wrapper {
  display: flex;
  max-width: 600px;
  justify-content: center;
  text-align: center;
  flex-flow: row;
  padding-top: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

h1.purpose-name {
  color: black;
}

.purpose-text-wrapper {
  text-align: center;
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
}
