@font-face {
	font-family: 'Cabin-Regular';
	src: url(../PagesFonts/cabin/Cabin-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Myriad-Pro';
	src: url(../PagesFonts/Myriad-Pro_31655.ttf) format('truetype');
}

h1 {
	text-align: center;
	font-family: Myriad-Pro;
	color: #14430A;
	font-weight: bold;
}

h2 {
	text-align: center;
	font-family: Myriad-Pro;
	color: #14430A;
}

p {
	text-align: center;
	font-family: Cabin-Regular;
	font-size: 18px;
}

iframe {
	width: 560px;
	height: 315px;
	display: block;
	margin: 0 auto;
}

@media (max-width: 770px) {
	iframe {
		width: 380px;
		height: 225px;
		display: block;
		margin: 0 auto;
	}
}

.Page {
	align-content: space-around;
}