@font-face {
	font-family: 'Cabin-Regular';
	src: url(../PagesFonts/cabin/Cabin-Regular.ttf) format('truetype');
}

@font-face{
    font-family:akbaal;
    src: url(../../fonts/akbaal.ttf);
}

@font-face {
	font-family: 'Myriad-Pro';
	src: url(../PagesFonts/Myriad-Pro_31655.ttf) format('truetype');
}

h1 {
	text-align: center;
	font-family: akbaal;
	color: black;
	font-weight: bold;
	padding-top: 2%;
}

h2 {
	text-align: center;
	font-family: Myriad-Pro;
	color: black;
}

p {
	text-align: center;
	font-family: Cabin-Regular;
	font-size: 18px;
}

iframe {
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	width: 560px;
	height: 315px;
	display: block;
	margin: 0 auto;
}

.carousel {
	width: 85%;
	margin: 0 auto;
	padding-top: 20px;
}


@media (max-width: 770px) {
	iframe {
		width: 380px;
		height: 225px;
		display: block;
		margin: 0 auto;
	}
}

@media(max-width: 400px) {
	iframe {
		width: 280px;
		height: 167px;
	}
}

.Page {
	align-content: space-around;
}
