@font-face {
	font-family: 'Cabin-Regular';
	src: url(../PagesFonts/cabin/Cabin-Regular.ttf) format('truetype');
}

.conteneur {
	display: flex;
	box-sizing: border-box;
}

.titre {
	text-align: center;
	padding-top:2%;
    color: white;
}


.card-img-top {
	border-radius: 10px;
}

h5 {
	font-family: Cabin-Regular;
	font-weight: bold;
	text-align: center;
}

p {
	font-family: Cabin-Regular;
}

.card {
	margin: 1%;
	box-sizing: border-box;
	border-radius: 10px;
	width: 33%;
	box-shadow: 5px 5px 4px black;
	position: static;
}

@media (max-width: 770px) {
  .conteneur {
  	display: flex;
  	flex-direction: column;
  }

  .card {
  	margin-top: 2%;
  	margin-bottom: 2%;
	box-sizing: border-box;
	border-radius: 10px;
	width: 95%;
	box-shadow: 5px 5px 4px black;
  }
}

