.first-class-premix-list, .second-class-premix-list {
  list-style: none;
  display: flex;
  flex-flow: row;
  overflow: hidden;
}

@media(max-width : 770px) {
  .first-class-premix-list, .second-class-premix-list {
    flex-flow: column;
  }
}

hr.divisor {
  height: 6px;
  color: white;
  border-radius: 40%;
  box-shadow: 0px 0px 5px 5px black;
}
