.general-purposes-list {
  list-style: none;
  justify-content: center;
}

h1.purpose-name{
  color:black;
  font-size: 1.2em;
}
.general-purposes {
  justify-content: center;
  text-align: center;
  padding-top: 5%;
  box-sizing: border-box;
}

.specific-purposes-list {
  list-style: none;
  justify-content: center;
}

.specific-purposes {
  justify-content: center;
  text-align: center;
  padding-top: 5%;
  box-sizing: border-box;
}
