

.naga-footer {
  background: rgb(1, 34, 1);
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.logos-list {
  list-style: none;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}
.logos-list-element {
  width: 60px;
  height: 60px;
  padding-top: 10px;
}


.rs-logo {
  width: 45px;
  height: 45px;
  transition: all 1.5s ease;
}

@media(min-width : 800px) {
  .rs-logo:hover {
    width: 48px;
    height: 48px;
  }
}

.footer-description {
  color: white;
  padding-top: 15px;
  font-size: 25px;
}

.logos-list-element:nth-child(3) {
  padding-top: 16px;
}
