

.naga-footer {
  background: black;
  width: 100%;
  height: 70px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  padding-left: 40%;
}

.logos-list {
  list-style: none;
  display: flex;
  flex-flow: row;
}
.logos-list-element {
  width: 70px;
  height: 70px;
  padding-left: 35px;
  padding-top: 14px;
}

.rs-logo {
  width: 50px;
  height: 50px;
  transition: all 1.5s ease;
}

@media(min-width : 800px) {
  .rs-logo:hover {
    width: 56px;
    height: 56px;
  }
}
