

.header {
  width: 100%;
  transition: all 2s ease;
  height: auto;
  overflow: hidden;
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  background: url(../WidgetsAndElements/photos/Fond_PP_Fondu.png);
  /* background:rgb(153, 148, 148); */
  box-sizing: border-box;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-flow: row;
}

.naga-logo {
  border-radius: 50%;
  width: 220px;
  height: 220px;
}

@media(max-width : 770px) {

  .header {
    margin-top: 60px;
  }
  .naga-logo {
    width: 120px;
    height: 120px;
  }
}

.logo-wrapper {
  justify-content: center;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

@media(max-width : 500px) {
  .header {
    display: none;
  }
}
