.header {
  width: 100%;
  transition: all 2s ease;
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  background: url(../WidgetsAndElements/photos/Fond_Orga.png);
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 770px) {
  .header {
    margin-top: 60px;
  }
}

.apearing-description {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 20%;
}
