/* rs-logo {
  width: 45px;
  height: 45px;
  transition: all 1.5s ease;
} */

.Bouton {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	background: #ed3330;
	padding: 20px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}